// postgresql://user:pwd@host:port/database
DATABASE_URL="postgresql://admin:admin@localhost:5432/postgres"

POSTGRES_DB="postgres"
POSTGRES_USER="admin"
POSTGRES_PW="admin"

PGADMIN_MAIL="admin@admin.com"
PGADMIN_PW="admin"

JWT_SECRET="katalibe"

PORT="3000"